<?xml version="1.0"?>
<!--
/**
* Copyright © 2018 Eloom. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eloom_Lookbookpro::lookbookpro" parent="Eloom_ThemesCore::core" title="Lookbook Pro" translate="title"
             module="Eloom_Lookbookpro" sortOrder="100" resource="Eloom_Lookbookpro::lookbookpro"/>
        <add id="Eloom_Lookbookpro::eloomlookbook_category" parent="Eloom_Lookbookpro::lookbookpro"
             title="Lookbook Category" translate="title" module="Eloom_Lookbookpro" sortOrder="10"
             resource="Eloom_Lookbookpro::eloomlookbook_category" action="lookbookpro/lookbookcategory/edit"/>
        <add id="Eloom_Lookbookpro::eloomlookbook" parent="Eloom_Lookbookpro::lookbookpro" title="Lookbook"
             translate="title" module="Eloom_Lookbookpro" sortOrder="20" resource="Eloom_Lookbookpro::eloomlookbook"
             action="lookbookpro/lookbook/index"/>
        <add id="Eloom_Lookbookpro::eloomlookbook_item" parent="Eloom_Lookbookpro::lookbookpro" title="Lookbook Item"
             translate="title" module="Eloom_Lookbookpro" sortOrder="30"
             resource="Eloom_Lookbookpro::eloomlookbook_category" action="lookbookpro/lookbookitem/index"/>
        <add id="Eloom_Lookbookpro::eloomlookbook_settings" parent="Eloom_Lookbookpro::lookbookpro" title="Settings"
             translate="title" module="Eloom_Lookbookpro" sortOrder="30" resource="Eloom_Lookbookpro::settings"
             action="adminhtml/system_config/edit/section/eloom_lookbook"/>
    </menu>
</config>